<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://fonts.googleapis.com">
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT+Sans&amp;family=Roboto+Slab:wght@400;700&amp;display=swap">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
  <link rel="icon" href="/assets/favicon.png">
  <!--script src="http://arthur-e.github.io/Wicket/wicket.js" type="text/javascript"></script>
  <script src="http://arthur-e.github.io/Wicket/wicket-leaflet.js" type="text/javascript"></script-->
  <title>Ariadne portal</title>
</head>

<body class="relative min-h-screen z-10 md:overflow-y-scroll overflow-x-hidden">
  <div id="app">
    Loading..
  </div>
  <script async src="<%= htmlWebpackPlugin.files.js %>"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-WMFPG86SRL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-WMFPG86SRL');
  </script>
  <script>
    if (document.documentMode && /(msie)/i.test(navigator.userAgent)) {
      document.getElementById('app').innerHTML = 'Sorry your browser does not support this web page. ' +
        '<a href="microsoft-edge:' + location.protocol + '//' + location.host +
        '" style="text-decoration:underline;color:blue">Try with edge</a>.'
    }
  </script>
</body>
</html>
