<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
  <link rel="stylesheet" href="/fa/css/all.min.css">
  <link rel="icon" href="/assets/favicon.png">
  <title>Ariadne portal</title>
</head>

<body class="relative min-h-screen z-1 md:overflow-y-scroll overflow-x-hidden">
  <div id="app">
    Loading..
  </div>
  <script async src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>
