/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */
@tailwind utilities;

/* general */
html {
  @apply text-base;
}

body {
  @apply font-base;
  @apply bg-white;
  @apply text-darkGray;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #777;
}

.backface-hidden{
  backface-visibility: hidden;
}
.break-word{
  display: inline-block; /* ie */
  word-break: break-all;
  word-break: break-word;
}
.whitespace-no-wrap{
  white-space: nowrap;
}
.logo-text{
  font-size: 28px;
  font-family: 'PT Sans';
  text-shadow: black 1px 1px 2px, 0.2px 0.2px 0 rgba(255,255,255,0.8), -0.2px 0.2px 0 rgba(255,255,255,0.8), -0.2px -0.2px 0 rgba(255,255,255,0.8), 0.2px -0.2px 0 rgba(255,255,255,0.8);
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 76%;
  transform: translateX(-76%);
}
@media (max-width: 767px){
  .logo-text{
    left: 5%;
    transform: none;
    width: 100%;
    text-align: center;
    bottom: 0;
  }
}
@media (max-width: 440px){
  .logo-text{
    font-size: 24px;
  }
}

/* leaflet overrides */

/* small marker */
.ariadne-map .marker-cluster-small {
  @apply bg-green-40;
}

.ariadne-map .marker-cluster-small div {
  @apply bg-green-80;
}

/* medium marker */
.ariadne-map .marker-cluster-medium {
  @apply bg-yellow-40;
}

.ariadne-map .marker-cluster-medium div {
  @apply bg-yellow-80;
}

/* large marker */
.ariadne-map .marker-cluster-large {
  @apply bg-red-40;
}

.ariadne-map .marker-cluster-large div {
  @apply bg-red-80;
}

.ariadne-map--resource .leaflet-control-container {
  @apply relative;
  @apply max-w-screen-xl;
  @apply mx-auto;
  @apply h-full;
}

.ariadne-map .leaflet-pane,
.ariadne-map .leaflet-top,
.ariadne-map .leaflet-bottom {
  @apply z-10;
}

.leaflet-touch .leaflet-control-container .leaflet-control-layers-toggle {
  width: 30px;
  height: 30px;
}

.leaflet-wrapper--hide-similar .leaflet-marker--similar {
  display: none;
}

.leaflet-control-layers-selector[disabled] + span {
  @apply text-gray;
}

/* slick carousel overrides */

/* padding between each item */
.slick-slider .slick-slide > div > div {
  @apply px-xs;
}

/* dot align */
.slick-slider .slick-dots {
  bottom: -2.5rem !important;
}

/* dot padding */
.slick-slider .slick-dots li {
  margin: 0 2px;
}

/* dot size */
.slick-slider .slick-dots li button::before {
  font-size: 13px;
}

/* dot hover/focus */
.slick-slider .slick-dots li button:hover::before,
.slick-slider .slick-dots li button:focus::before {
  @apply text-blue-40;
}

/* arrow hover/focus */
.slick-slider .slick-prev:hover::before,
.slick-slider .slick-prev:focus::before,
.slick-slider .slick-next:hover::before,
.slick-slider .slick-next:focus::before {
  @apply text-blue-70;
}

/* active dot & default arrow styles */
.slick-slider .slick-dots li.slick-active button::before,
.slick-slider .slick-prev::before,
.slick-slider .slick-next::before
{
  @apply transition-all;
  @apply duration-300;
  @apply opacity-100;
  @apply text-blue;
}

/* services links inside info */
.services-a-style a {
  @apply text-blue;
  @apply transition-colors;
  @apply duration-300;
}

.services-a-style a:hover {
  @apply underline;
}
