/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */
@tailwind utilities;

html {
  @apply text-base;
}

body {
  @apply font-base;
  @apply bg-white;
  @apply text-darkGray;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #777;
}

.backface-hidden{
  backface-visibility: hidden;
}
.break-word{
  display: inline-block; /* ie */
  word-break: break-all;
  word-break: break-word;
}

/* leaflet override */
.map--default .leaflet-control-container {
  @apply relative;
  @apply max-w-screen-xl;
  @apply mx-auto;
  @apply h-full;
}
